body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
img{
    border-radius: 10%;
}
h1{
    text-align: center;
}
p{
    text-align: justify;
}
a{
    text-decoration: none;
    color: green;
}
figcaption{
    padding-top:2px;   
}
figure{
    margin:5px;
    margin-bottom:15px;  
}
figure img{
    padding-left:15px;
}
footer{
    padding:40px;
    background-color:khaki;
}
footer p{
    vertical-align: center;
    text-align: justify
}
.back-page img{
    float:left;
    margin-left:20px;
    border-radius: 35%;
}
.catalog article{
    width:200px;
}
.catalog img{
    border-radius: 10%;
    width:200px;
    height:150px;
}
.catalog article p{
    margin-top:-18px;
    text-align: center;
    color:brown;
    font-weight: 700;
}
span.price{
    color:green;
    text-align:left;
    font-weight: bold;
}
button{
    height:30px;
    width:70px;
    border-radius: 10%;
    background-color: coral;
    color:blue;
    font-weight: 700;
    margin-top:-20px;
}
article{
    margin-bottom: 15px;
}